.virtualizedTable .ReactVirtualized__Table__headerRow {
    background-color: gray;
    color: white;
    font-weight: bold;
}

.virtualizedTable .ReactVirtualized__Table__row {
    border-bottom: 1px solid #dee2e6;
}

.virtualizedTable .ReactVirtualized__Table__row:nth-child(even) {
    background-color: #f8f9fa;
}

.virtualizedTable .ReactVirtualized__Table__headerColumn,
.virtualizedTable .ReactVirtualized__Table__rowColumn {
    padding: 0.75rem;
}

.virtualizedTable .ReactVirtualized__Table__headerTruncatedText,
.virtualizedTable .ReactVirtualized__Table__truncatedText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}